<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <p>Search location: {{location}}</p>
        <p>Search term: {{search_term or 'None Specified'}}</p>
        <!-- <p>Data: {{ restaurant }}</p> -->
        <h2>Top Restaurant:</h2> 

        <div class="card">
          <h1 class="card__name">
            {{ restaurant.get('name') }}
          </h1>

          <img src="{{ restaurant.get('image_url') }}" />
          <p>{{ restaurant.get('display_address') }}</p>

          <div class="card__info">
            Price: {{ restaurant.get('price') }}
          </div>
          <div class="card__info">
            Price: {{ restaurant.get('rating') }}
          </div>
          <div class="card__info">
            # Reviews: {{ restaurant.get('review_count') }}
          </div>
        </div>
        <!-- <p>Name: </p> -->
    </main>
</body>
</html>

